*.iml
.gradle
/local.properties
.DS_Store
/build
/captures
.externalNativeBuild
/site
.idea/assetWizardSettings.xml
.idea/codeStyles/Project.xml
.idea/gradle.xml
.idea/caches
.idea/navEditor.xml
.idea/libraries
.idea/workspace.xml
.idea/modules.xml
.idea/dictionaries/*
.idea/markdown*
.idea/emacs.xml
.idea/misc.xml

